@font-face {
	font-family: Quicksand;
	src: url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
